body{
	width: 100%;
	height: 100%;
}
.wrap{
	width: 100%;
	height: 100%;
	line-height: 30px;
}
.center{
	text-align: center;;
}
.title{
	line-height: 70px;
	text-shadow: 2px 2px 5px #191616;
	font-size: 24px;
}
.border1{
	height: 2px;
	width: 0;
	background-color: #F2452D;
	margin: 0 auto 40px;
}
.section{
	position: relative;
	width: 100%;
	height: 100%;
}
h1,h2,h3{
	line-height: 40px;
	opacity: 0;
	filter: alpha(opacity=0);
}
/*导航栏*/
.navigation{
	position: fixed;
	height: 40px;
	line-height: 40px;
	width: 100%;
	background-color:rgba(100,100,100,0.5);
	z-index: 100;
	color: #fff;
}
.navigation:hover{
	background-color:rgba(100,100,100,0.8);
}
#danche{
	height: 36px;
	float: left;
	margin-left: 5%;
	border:2px solid #bbb;
}
#danche:hover{
	border:2px solid #fff
}
.resume{
	float: left;
	margin-left: 5%;
	font-size: 20px;
}
.navigation ul{
	float: right;
	margin-right: 10%;
}
.navigation li{
	display: inline-block;
	margin-left: 10px;
	text-indent: 35px;
	cursor: pointer;
}
.wechat,.micro-blog{
	position: relative;
	-webkit-background-size: 30px;
	background-size: 30px;
	background-repeat: no-repeat;
	background-position: 0 6px;
}
.wechat{
	background-image: url(../img/7.jpg);
}
.wechat img{
	position: absolute;
	display: none;
}
.wechat:hover img{
	display: block;
}
.micro-blog{
	background-image: url(../img/9.jpg);	
}
.navigation a{
	color: #fff;
}

/*第一页*/
.picture{
	position: relative;
	margin: 0 auto;
	border-radius: 50%;
	width: 200px;
	height: 200px;
	overflow: hidden;
	border:5px solid #Fff;
	z-index: 2;
	opacity: 0;
	filter: alpha(opacity=0);
}
#pic1{
	z-index: 1;
}
.picture img{
	position: absolute;
	left: 0;
	top: 0;
	width: 200px;
	height: 200px;
}


/*第二页*/
.aboutme{
	padding: 30px 0;
	margin: 0 auto;
	width: 80%;
	max-width: 1092px;
	background-color: #DECECE;
	border-radius: 10px;
	margin: 50px auto;
}
.aboutme li{
	position: relative;
	display: inline-block;
	margin: 0 40px 150px;
}
.aboutme h4{
	padding: 15px;
	display: none;
	font-weight: 100;
	font-size: 25px;
	background-color: #999;
	position: absolute;
	top: 74px;
	left:-22px;
	width: 80px;
	border-top: 7px #E516C1 solid;
	border-bottom:7px #E516C1 solid;
	border-radius: 7px;
}
#page2 img{
	width: 64px;
	height: 64px;
}
#page2 .describe img{
	width: 22x;
	height: 22px;
}
.describe{
	width:60%;
	margin: 10px auto;
	font-size: 18px;
}
/*第三页*/
/*图片切换*/
#page3 ul{
	margin-top: 90px;
	text-align: center;
	transform:translateX(-400px);
	-webkit-transform:translateX(-400px);
	-moz-transform:translateX(-400px);
	-ms-transform:translateX(-400px);
	-o-transform:translateX(-400px);
}
#page3 li{
	
	position: relative;
	display: inline-block;
	width: 180px;
	height: 220px;	
	cursor:pointer;	
}
.side{
	position: absolute;
	width: 180px;
	height: 220px;
    background-color: #fff;
    box-shadow: 3px 3px 10px #000;
    font-size: 12px;
}
.side img{
	width: 180px;
	height: 180px;
	z-index: 101;
}
#boot{
	width: 160px;
	height: 160px;
	margin:10px 0;
}
.side-front{
	z-index: 1;
	opacity: 1;
	filter: alpha(opacity=100);
}
.side-back{
	opacity: 1;
	filter: alpha(opacity=100);
	box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	padding: 10px;
	text-align: left;
}
/*按钮动画*/
.button:hover{border:2px solid #fff;
              background-position:140px center;}

.button .line{position:absolute;
               background:none; 
              -moz-transition:ease 0.4s;
              -o-transition:ease 0.4s;
              -webkit-transition:ease 0.4s;
              transition:ease 0.4s;}

.button:hover .line{background:#fff;}

.button .line-top{width:0px;
                  height:2px;
                  left:-110%;
                  top:-2px;}

.button:hover .line-top{width:101%;
                        left:-2px;}


.button .line-right{width:2px;
                    height:0px;
                    right:-2px;
                    top:-110%;}

.button:hover .line-right{height:101%;
                          top:-2px;}


.button .line-bottom{width:2px;
                     height:0px;
                     left:-2px;
                     bottom:-110%;}

.button:hover .line-bottom{height:101%;
                           bottom:-2px;}

.button .line-left{width:0px;
                   height:2px;
                   right:-110%;
                   bottom:-2px;}

.button:hover .line-left{width:101%;
                         right:-2px;}

/*第四页*/
#page4{
	width: 60%;
	margin: 0 auto;
}
.experience_visible{
	overflow: hidden;
	position: relative;	
	height: 396px;
	border-radius: 20px;
	box-shadow: 3px 3px 5px #5E5252;
}
.experience{
	position: absolute;	
	width: 200%;
	height: 396px;
	font-size: 14px;
}
.experience h4{
	padding-top: 50px
}
.experience ul,.experience h4{
	margin:0 19%;
}
.experience1,.experience2{
	float: left;
	height: 100%;
	width: 50%;
}
.experience1{
	
	background-image: url(../img/22.jpg);
	
	color: #fff;
}
.experience2{
	
	background: url(../img/23.jpg) no-repeat;
	color: #000;
}
.but1:hover,.but2:hover{
	background-color: rgba(100,100,100,0.6);
}
.but1,.but2{
	position: absolute;
	top: 50%;
	margin-top: -25px;
	background-color: rgba(100,100,100,0.3);
	width: 50px;
	height: 50px;
	border-radius: 50%;
	font-size: 30px;
	line-height: 50px;
	text-align: center;
	z-index: 1;
	cursor: pointer;
}
.but1{

	left: 25px;
}
.but2{
	right: 25px;
}
.underline{text-decoration: underline;
cursor: pointer;} 

/*弹出层*/
#close{ 
	background:url(../img/close.png) no-repeat; 
	width:30px; 
	height:30px; 
	cursor:pointer; 
	position:absolute; 
	right:10px; 
	top:10px; 
	text-indent:-999em;
	}
#mask{ 
	background-color:#ccc;
	opacity:0.5;
	filter: alpha(opacity=50); 
	position:absolute; 
	left:0;
	top:0;
	z-index:1000;
	}
#login{ 
	position:fixed;
	z-index:1001;
	}
.loginCon{ 
	position:relative; 
	width:670px;
	height:380px;
	background:url(../img/25.jpg) #fff 20% center no-repeat;
	}
#wenzi{
	width:250px; 
	height:300px; 
	position:absolute; 
	right:50px; 
	top:50px; 
}
/*第五页*/
.demo{
	margin: 0 auto;
}
.demo li{
	position: relative;
	display: inline-block;
	margin:0 4px;
	overflow: hidden;
	box-shadow: 5px 5px 20px #0D0C0C;
	background: #fff;	
}
.demo li,.demo img,.mask,.border{
			width: 150px;
			height: 150px;
			border-radius: 50%;
		}

.mask{
			position: absolute;
			top: 0;
			left: 0;
			border-radius: 50%;
			-webkit-transition:all .5s ease-in;
			transition:all .5s ease-in;
			color:rgba(255,255,255,0);
		}
.border{
			position: absolute;
			border: 10px solid #072256;
			border-left-color:#E07514;
			border-top-color:#E07514;
			top: 0;
			left: 0;
			border-radius: 50%;
			-webkit-transition:all .5s ease-in;
			transition:all .5s ease-in;
			-webkit-box-sizing:border-box;
			box-sizing:border-box;
		}
.demo1:hover .border,.demo2:hover .border,.demo3:hover .border,.demo4:hover .border{
			-webkit-transform:rotate(180deg);
			transform:rotate(180deg);
			-moz-transform:rotate(180deg);
			-ms-transform:rotate(180deg);
			-o-transform:rotate(180deg);			
		}
.demo1:hover .mask,.demo2:hover .mask,.demo3:hover .mask,.demo4:hover .mask{
			background-color:rgba(0,0,0,0.5);
			color:rgba(255,255,255,1);
		}
.info{
			position: absolute;
			width: 80%;
			height: 120px;
			top: 50%;
			left: 50%;
			margin-left: -40%;
			text-align: center;
			margin-top: -50px;
		}
/*第六页*/
#page6{
	background-image: url(../img/16.jpg);
	
}
.pic17{
	height: 100px;
}
.contact_me{
	text-align: left;
	text-indent: 2em;
	margin: 0 11%;
	font-size: 14px;
}
.zishu{
	text-align: right;
	margin: 0 11%;
}
.footer{
	position: absolute;
	width: 100%;
	height: 35%;
	bottom: 0;
	background-color:rgba(100,100,100,0.5);
	border-top: 3px solid;
	border-color: rgba(200,200,200,0.5);
	padding-top: 20px;
}
#page6 .pic18{
	height: 50px;
	margin-bottom: 25px;
}
.Icon{
	float: left;
	margin-left: 20%;
	margin-bottom: -10px;
}
.contact{
	float: right;
	margin-right:40%;
}
.pic6,.pic7{
	margin: -5px 0;
	line-height: 30px;
	font-size: 16px;
	display: block;
	-webkit-background-size: 30px 30px;
	background-size: 30px 30px;
	background-repeat: no-repeat;
}
.pic6{
	text-indent: 10px;	
	background-image: url(../img/iconfont-phone.png);	
}
.pic7{
	
	text-indent: 64px;
	background-image: url(../img/iconfont-youxiang.png);
}
.pic7 a{
	color: #0F0E0E;
}
.pic7 a:hover{
	color: #EB0E0E;
}
/*媒体查询，适应移动端*/
@media screen and (min-width:600px) {
  .footer {
    height: 160px;
  }
  #page3 li{
  	margin-left: 50px;
  }
  .experience h4 {
    padding-top: 95px;}
  .contact_me,.zishu{
	margin: 0 20%;	
}
}
@media screen and (max-width:600px) {
	.navigation ul{
		display: none;
	}
	/*#danche,.resume{
		display: none;
	}*/
	.aboutme{
		margin:0 auto;
		padding: 10px 0;
	}
	#page2 img{
		width: 32px;
		height: 32px;
	}
	#page2 h1{
		margin-bottom: -12px;
	}
	#page2 .border1{
		margin: -10px auto 15px;
	}
	.aboutme li{
		margin: 0 40px 70px;
	}
	.aboutme h4{
		line-height: 20px;
		padding: 5px 15px;
		font-size: 13px;
		top: 35px;
    	left: -42px;
	}
	.describe{
		width: 79%;
	}
	#page3 ul{
		margin-top: 0;
	}
	#page4{
		width: 100%;
	}
	#page3 li{	
	width: 150px;
	height: 183px;		
    }
    .side{	
	width: 150px;
	height: 183px;	
	line-height: 16px;
    }
    .side img{
	width: 150px;
	height: 150px;
    }
    #boot{
	width: 130px;
	height: 130px;
	margin:10px 0;
    }
    .zishu{
    	margin-bottom: 45%;
    }
    .loginCon{ 
	width:300px;
	height:450px;
	background:url(../img/25.jpg) #fff center 20% no-repeat;
	}
	#wenzi{
	right:48px; 
	top:350px; 
	width: 203px;
	height: 50px;
	}
	.contact_me,.zishu{
		line-height: 24px;
	}
	.demo{
		max-width: 300px;
	}
	.demo li,.demo img,.mask,.border{
			width: 100px;
			height: 100px;
	}
	.border{
		border: 5px solid #072256;
		border-left-color:#E07514;
		border-top-color:#E07514;
	}
}






