/**头部开始**/
#header{
    background: url("../images/headerbg.png") repeat-x scroll 0 0 #FFFFFF;
    height: 105px;
}
#header .bg{
	width: 990px;
	height: 105px;
	margin: 0 auto;
	position: relative;
}
#header .bg .logo{
	float: left;
	margin-left: 10px;
	line-height: 80px;
}
#header .bg .search{
	left:198px; 
	top:20px;
	position: absolute;
}
#header .bg .search #inputSearch{
	padding: 3px 6px 5px 6px;
	width: 200px;
	height: 17px;
	border: 1px solid #BABEBF;
	color:#999999;
	font-size: 14px;
}
#header .bg .search #inputSearch.focus{
    border: 1px solid #00A5FF;
}
#header .bg #skin{
	float: right;
	margin: 10px;
	padding:4px;
	width: 120px;
}
#header .bg #skin li{
	width: 15px;
	height: 15px;
	margin-right: 4px;
	display: block;
	cursor: pointer;
	overflow: hidden;
	float: left;
	background-image: url("../images/theme.gif");
}
#skin_0{background: 0px 0px;}
#skin_1{background: 15px 0px;}
#skin_2{background: 35px 0px;}
#skin_3{background: 55px 0px;}
#skin_4{background: 75px 0px;}
#skin_5{background: 95px 0px;}
#skin_0.selected{background: 0px 15px;}
#skin_1.selected{background: 15px 15px;}
#skin_2.selected{background: 35px 15px;}
#skin_3.selected{background: 55px 15px;}
#skin_4.selected{background: 75px 15px;}
#skin_5.selected{background: 95px 15px;}
/**导航样式开始**/
.mainNav{
	margin:0 auto;
	width: 990px;
	height: 37px;
	top:68px;
	position: absolute;
	background-color: #4a4a4a;
	line-height: 37px;
}
.mainNav .nav{
	margin-left: 25px;
	display: block;
	float: left;
}
.mainNav .nav li { 
	float:left; 
    display: block;
	margin-right:14px;
	position: relative ;
}
.mainNav .nav li a{
	display: block;
	padding: 0px 8px;
	font-weight: 700;
	color: #fff;
	font-size: 14px;
}
/*二级菜单*/
.mainNav .nav li .jnNav{
	width:450px;
	height: 121px;
	padding: 10px 12px;
	display: none;
	background: #FFFFFF;
	border: 1px solid #B1B1B1;
	border-top: 0px;
	left: 0px;
	position: absolute;
	float: left;
	overflow: hidden;
	z-index: 1000;
	top: 38px;
}
.mainNav .nav li .jnNav dl{
	border-top:1px dashed #c4c4c4;
	overflow: hidden;
	padding: 8px 0;
	float: left; 
}
.mainNav .nav li .jnNav dl.fore {
	border-top-style: none;
    padding-top: 0;
}
.mainNav .nav li .jnNav dt{
	float: left;
	font-weight: bold;
	line-height: 16px;
	padding: 4px 3px;
	text-align: center;
	width: 76px;
}
.mainNav .nav li .jnNav dt a{
	font-weight: bold;
	padding: 0px;
	font-size: 12px;
	line-height: 16px;
	color: #000;
}
.mainNav .nav li .jnNav dd{
	float: left;
	padding: 0px;
	overflow: hidden;
	width: 364px;
}
.mainNav .nav li .jnNav em{
	border-right: 1px solid #cccccc;
	height: 14px;
	margin: 5px 0px;
	padding: 0px 8px;
	line-height: 14px;
	font-style: normal;
	float: left;
}
.mainNav .nav li .jnNav em a {
	color: #666666;
	font-size: 12px;
	font-weight: normal;
	padding: 0px;
	display: block;
}
.mainNav .nav li .jnNav em.noborder{
	border-right: 0px none;
}
/*主体样式*/
#content{
	width: 990px;
	margin:0 auto;
	position: relative;
	height: 560px;
	padding: 10px 0px;

}
/*商品分类*/
.jnCatalog{
	margin-right: 11px;
	width: 187px;
	height: 506px;
	float: left;
}
.jnCatalog h2{
	background-color: #6e6e6e;
	height: 30px;
	text-indent: 13px;
	font-size: 12px;
	line-height: 30px;
	color: #fff;
}
.jnCatalog .jnCataInfo{
	border: 1px solid #6e6e6e;
	border-style: none solid solid;
	height: 524px;
	padding: 5px 10px 0;
    width: 165px;
}
.jnCatalog .jnCataInfo h3{
	line-height: 24px;
	font-size: 12px;
	width: 164px;
	height: 24px;
	border-bottom: 1px solid #eeeeee;
	clear: both;
}
.jnCatalog .jnCataInfo ul{
	float: left;
	padding: 0px 2px 8px;
}
.jnCatalog .jnCataInfo ul li{
	line-height: 24px;
	font-size: 12px;
	width: 79px;
	height: 24px;
	color: #aeadae;
	float: left;
	position: relative;
}
.jnCatalog .jnCataInfo ul li a{
	color: #444444;
}
.jnCatalog .jnCataInfo ul li a:hover{
	color: #008CD7;
	text-decoration: none;
}
.jnCatalog .jnCataInfo ul li a.promoted{
	color: #F9044E;
}
.jnCatalog .jnCataInfo ul li .hot{
	position: absolute;
	width: 21px;
	height: 16px;
	top: 0px;
	left: 26px;
	background: url("../images/hot.gif") no-repeat scroll 0 0 ;
}
.jnCatalog .jnCataInfo ul li #addidas{
	left: 50px;
}
/*大屏广告*/
#jnImageroll{
	float: left;
	width: 550px;
	height: 320px;
	margin-right: 11px;
	position: relative;
	overflow: hidden;
}
#jnImageroll #imgWrap img{
    position: absolute;
    top: 0px;
    left: 0px;
}
#jnImageroll div {
    bottom: 0;
    overflow: hidden;
    position: absolute;
    float: left;
}
#jnImageroll div a{
	display: block;
	color: #FFFFFF;
	background-color: #444444;
    float: left;
    height: 32px;
    margin-right: 1px;
    overflow: hidden;
    padding: 5px 15px;
    text-align: center;
    width: 79px;
    bottom: 0px;
}
#jnImageroll div a:hover{
	text-decoration: none;
}
#jnImageroll div a.last{
	margin: 0;
    width: 80px;
}
#jnImageroll div a.chos{
	background: url("../images/adindex.gif") no-repeat center 39px #37A7D7;
    color: #FFFFFF;
}
/*最新动态*/
#jnNotice{
	float: left;
	width: 230px;
	height: 321px;
	overflow: hidden;
}
#jnNotice #jnMiaosha {
    float: left;
    height: 176px;
    margin-bottom: 10px;
    overflow: hidden;
    width: 230px;
}
#jnNotice #jnMiaosha .JS_css3 img{
	-webkit-transition:1s all;
	-moz-transition:1s all;
	-o-transition:1s all;
	transition:1s all;
}
#jnNotice #jnMiaosha .JS_css3:hover img {
	-webkit-transform:rotate(720deg);
	-moz-transform:rotate(720deg);
	-o-transform:rotate(720deg);
	transform:rotate(720deg);
}
#jnNotice #jnNoticeInfo{
	float: left;
    border: 1px solid #DFDFDF;
    height: 133px;
    overflow: hidden;
    width: 228px;
}
#jnNotice #jnNoticeInfo h2{
	font-weight: bold;
	font-size: 12px;
	line-height: 23px;
	height: 23px;
	border-bottom: 1px solid #DFDFDF;
	text-indent: 12px;
}
#jnNoticeInfo ul {
    float: left;
    padding: 6px 2px 0 12px;
}
#jnNoticeInfo li {
    height: 20px;
    line-height: 20px;
    overflow: hidden;
}
#jnNoticeInfo li a{
	color:#666666;
}
#jnNoticeInfo li a:hover{
    color: #008CD7;
    text-decoration: none;
}
/* 品牌活动 */
#jnBrand{
	margin-top: 10px;
	float: left;
	height: 230px;
	width: 790px;
	overflow: hidden;
}
#jnBrandTab{
	height: 29px;
	float: left;
	position: relative;
	border-bottom: 1px solid #e4e4e4;	
	width: 790px;
}
#jnBrandTab h2{
	height: 29px;
	line-height: 29px;
	left: 0px;
	position: absolute;
	width: 100px;
}
#jnBrandTab ul {
    position:absolute;
    top: 10px;
    right: 0px;
}
#jnBrandTab li {
    float: left;
    margin: 0 10px 0 0;
}
#jnBrandTab li a {
    background-color: #E4E4E4;
    color: #000000;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    padding: 0 10px;
}
#jnBrandTab .chos{
	background: url("../images/chos.gif") no-repeat scroll 50% bottom transparent; 
	padding-bottom: 3px;
}
#jnBrandTab .chos a {
    background-color: #FA5889;
    color: #FFFFFF;
}
#jnBrandContent {
    float: left;
    height: 188px;
    overflow: hidden;
    margin: 8px 5px;
    width: 790px;
	position: relative;
}
#jnBrandList {
    position: absolute;
    left: 0;
    top: 0;
    width: 3200px;
}
#jnBrandContent li {
    float: left;
    height: 188px;
    overflow: hidden;
    padding: 0 5px;
    position: relative;
    width: 185px;
}
#jnBrandContent li img {
    left: 5px;
    position: absolute;
    top: 0;
}
#jnBrandContent li span {
    background-color: #EFEFEF;
    bottom: 0;
    color: #666666;
    display: inline-block;
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    width: 183px;
}
#jnBrandContent li a {
	color:#666666;
}
#jnBrandContent li a:hover{
    color: #008CD7;
    text-decoration: none;
}
/**底部活动**/
#footer {
	margin: 0 auto;
	width: 990px;
	padding: 18px 0;
	line-height: 18px;
	text-align: center;
    color: #666666;
}
/* tooltip */
#tooltip{
	position:absolute;
	border:1px solid #333;
	background:#f7f5d1;
	padding:1px;
	color:#333;
	display:none;
}
/* imgHover */
.imageMask{
	background-color:#ffffff; 
	filter:alpha(opacity=0);
	opacity: 0;	
	cursor: pointer;
}
.imageOver{
	background:url(../images/zoom.gif) no-repeat 50% 50%;	
	filter:alpha(opacity=60);
	opacity: 0.6;	
}
/* details.html */
#jnProitem{
	width: 312px;
	height: 560px;
	display: block;
	float: left;
}
#jnProitem .jnzoomWrap{
	border: 1px solid #BBBBBB;
    cursor: pointer;
    float: left;
    padding: 0;
    position: relative;
}
#jnProitem span{
	clear: both;
	display: block;
	padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    width: 320px;
}
#jnProitem ul.imgList{
	height: 80px;
}
#jnProitem ul.imgList li { 
	float:left;
	margin-right:10px;  
}
#jnProitem ul.imgList li img { 
	width:60px; 
	height:60px; 
	padding:1px;
	background:#EEE;
	cursor:pointer; 
}
#jnProitem ul.imgList li img:hover { 
	padding:1px; 
	background:#999; 
}
.tab{ 
	clear:both;
    float: left;
    height: 230px;
    overflow: hidden;
    width: 310px;
}
.tab .tab_menu { 
	clear:both;
}
.tab .tab_menu li { 
	float:left; 
	text-align:center; 
	cursor:pointer; 
	list-style:none; 
	padding:1px 6px; 
	margin-right:4px; 
	background:#F1F1F1;
	border:1px solid #898989; 
	border-bottom:none;
}
.tab .tab_menu li.hover { 
	background:#DFDFDF;
}
.tab .tab_menu li.selected { 
	color:#FFF; 
	background:#6D84B4;
}
.tab .tab_box { 
	clear:both; 
	border:1px solid #898989;
}
.tab .hide{
	display:none
}
#jnDetails {
    float: left;
	display:inline;
    overflow: hidden;
    width: 468px;
}
#jnDetails .jnProDetail{
	padding:0 10px 10px 10px;
}
#jnDetails .jnProDetailList li{
	line-height:25px;
	float:left;
	width:100%;
}
#jnDetails .jnProDetailList strong {
	font-weight:400;
}
#jnDetails .jnProDetailList strong.del{
	text-decoration: line-through;
	color: #404040;
    font-size: 12px;
}
#jnDetails .jnProDetailList .tbDetailPrice strong{
	color: #ff5500;
	vertical-align: middle;
	padding-right: 5px;
	font:normal 24px/29px Tahoma,Arial,Helvetica,sans-serif;
}
#jnDetails .jnProDetailList .color_change li, #jnDetails .jnProDetailList .pro_size li{
	float:left; 
	margin-right:10px; 
	width:40px;
}
#jnDetails .jnProDetailList .color_change img{
	width: 30px;
	height: 30px;
	padding:1px; 
	background:#EEE;
	border:1px solid #BBB;
	cursor:pointer; 
}
#jnDetails .jnProDetailList .color_change img:hover,#jnDetails .jnProDetailList .color_change img.hover { 
	border:1px solid #f60;
}
#jnDetails .jnProDetailList .pro_size li{
	margin-right:6px;
	border:1px solid #AAA;
	cursor:pointer; 
	width:30px; 
	height:30px; 
	line-height:30px; 
	overflow:hidden;
	text-align:center;
}
#jnDetails .jnProDetailList .pro_size li.cur{
	border:1px solid #AAA;
	background-color:#f60;
}
/* rating css */
.rating{
	overflow: hidden;;
	width: 80px;
	height: 16px;
	margin-bottom: 20px;
	background: url(../images/star-matrix.gif) no-repeat 0 0;
	position: relative;
	clear: both;
}
.nostar {background-position:0 0}
.onestar {background-position:0 -16px}
.twostar {background-position:0 -32px}
.threestar {background-position:0 -48px}
.fourstar {background-position:0 -64px}
.fivestar {background-position:0 -80px}

ul.rating li {
	cursor: pointer;
	float:left;
	text-indent:-999em;
}
ul.rating li a {
	position:absolute;
	left:0;
	top:0;
	width:16px;
	height:16px;
	text-decoration:none;
	z-index: 200;
}
ul.rating li.one a {left:0}
ul.rating li.two a {left:16px;}
ul.rating li.three a {left:32px;}
ul.rating li.four a {left:48px;}
ul.rating li.five a {left:64px;}
ul.rating li a:hover {
	z-index:2;
	width:80px;
	height:16px;
	overflow:hidden;
	left:0;	
	background: url(../images/star-matrix.gif) no-repeat 0 0
}
ul.rating li.one a:hover {background-position:0 -96px;}
ul.rating li.two a:hover {background-position:0 -112px;}
ul.rating li.three a:hover {background-position:0 -128px}
ul.rating li.four a:hover {background-position:0 -144px}
ul.rating li.five a:hover {background-position:0 -160px}