* {
  padding: 0;
  margin: 0;
}

body {
	width:970px;
 margin:20px auto;
 background-image:url(../images/background.gif);
  background-attachment: fixed;
  background-position: top left;
  background-repeat: repeat-x;
  max-width: 80em;
    color: #fb5;
  background-color: #334;
}
#header{
	background-image:url(../images/2.png);
	height:300px;
	  background-repeat: no-repeat 0 0;
 }
#navigation {
	background-image:url(../images/navbar.gif);
	background-repeat:repeat-x;
	padding-left:50px;
	
	}
#navigation ul{
		width:100%;
		 overflow: hidden;
		 border-left:#FFF 1px solid;

		}
#navigation li{
	display:inline;
	line-height:14px;}
#navigation li a{
	 display: block;
 	 float: left;
 	 padding: .5em 2em;
 	 border-right: .1em solid;
 	 color:#FFF;
 	 text-decoration:none;
  }
#navigation li a:hover{
	background-color:#F90;
	}
#content{
	background-color:#CCC;
	color:#000;
	padding:30px 80px ;
	

}
h1 {
  padding:30px 0;
}
#intro{
	line-height:30px;
	}
#slideshow {
  width: 150px;
  height: 150px;
  position: relative;
  
  overflow: hidden;
}
img#frame {
  position: absolute;
 
  top: 0;
  left: 0;
  z-index: 99;
  border-width: 0;
  outline-width: 0;
}
img#preview {
  position: absolute;
  border-width: 0;
  outline-width: 0;
}
#content {
  line-height: 28px;
}
#content p {
  margin: 2em 0;
}
h2 {
  font-family: "Georgia","Times New Roman",sans-serif;
  font: 1.8em normal;
  margin-top: 1em;
}
#about #header {
	background-image:url(../images/1.jpg);
}
#photos #header {
	background-image:url(../images/3088286_111150852000_2.jpg);
}

#imagegallery li {
	
  display: inline;
  width:128px;
  padding-left:10px;
}





