body{
	width:1366px;
	margin: 0 auto;}
.advertisement{
	display:none;
	overflow:hidden;
	width:1024px;
	margin:0 auto;
	}
.advertisement img{
	height:360px;
	width:100%;
	}
.header{
	width:100%;}
.Sign_in{
	line-height:30px;
	background-color:#F1F1F1;
	
	width:100%;
	margin-bottom:20px;
	}
/* 地址弹出列表 */
.address{
	float:left;
	padding:1px 5px;	
	margin-left:5%;
	width:80px;
	
	}
.address:hover,.phone:hover{
	background-color:#FFF;
	border:1px solid #C1C1C1;
	border-bottom:1px solid #FFF;
	padding:0 4px;
	}
.address img,.jiantou{
    -o-transition: all 0.4s ease-out;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
	
	}
.address:hover img,.phone:hover .jiantou{
	transform: rotate(180deg);
	-ms-transform: rotate(180deg);		/* IE 9 */
	-webkit-transform: rotate(180deg);	/* Safari and Chrome */
	-o-transform: rotate(180deg);		/* Opera */
	-moz-transform: rotate(180deg);		/* Firefox */
	}	
.address_list{
	margin-left:-5px;
	display:none;
	position:absolute;
	z-index:1;
	width:20%;
	background-color:#FFF;
	border:1px solid #C1C1C1;
	}
.address_list li{
	border-radius:5px;
	float:left;
	width:20%;
	text-align:center;
	cursor:pointer;}
.red{
	background-color:#F00;}
.address_list li:hover{
	background-color:#CCC;}

.Sign_in_right{
	float:right;
	margin-right:5%;}
.forms{
	display:inline-block;}
.Sign_in a:hover{
	text-decoration:none;
	color:#F00;}
/* 手机弹出菜单 */
.phone{	
	display:inline-block;
	padding:1px 5px;}
.phone:hover .QR_code{
	display:block;}

.QR_code{
	margin-left:-5px;
	padding:5px;
	display:none;
	position:absolute;
	z-index:1;
	width:250px;;
	background-color:#FFF;
	border:1px solid #C1C1C1;}
.QR_code_left{
	float:left;
	margin-right:3px;
	padding:5px;}
.QR_code_right h2{
	font-size:14px;
	line-height:20px;}
.cover{
	margin-left:-4px;
	width:89px;;
	position:absolute;
	height:0;
	border-bottom:1px solid #FFF;
	z-index:3;}
/* 标识和搜索框 */	
.searchbox{
	width:100%;}	
.search{

	width:40%;
	margin:20px 0 0 20%;
	float:left;}
.badge{
	margin-left:5%;
	float:left;}
.search1{
	vertical-align:middle;
	border:2px solid #F3F;
	width:80%;
	height:30px;	
	}
.search2{
	vertical-align:middle;
	font-weight:bold;
	font-size:15px;
	color:#FFF;
	background:#F3F;
	width:15%;
	height:34px;
	text-align:center;	
	margin-left:-4px;
	cursor:pointer;
	border:none;}
.suggest{width:32%; background-color:#fff;position:absolute;margin:0;padding:0;border-width:1px;border-style:solid;border-color: #999; z-index:1;}
.suggest ul{list-style:none;display:block;margin:0;padding:0}
.suggest ul li {padding:3px;line-height:25px;font-size: 14px;color: #777;cursor: pointer;padding:3px;}
.suggest ul li:hover{background-color:#e5e5e5;text-decoration: underline;}
/* nav */
.navbox{
	width:100%;
	border-bottom:1px solid #CACACA;}	
.navs{
	width:70%;
	float:right;
	margin-top:25px;
	line-height:30px;
	}
.li_1{
	display:inline-block;
	padding:0 3%;
	position:relative;
}	
.li_1:hover{
	text-shadow:1px 1px 3px #666;}
.li_1:hover .ul_2{
	visibility:visible;
	opacity:1;
	filter: Alpha(Opacity=100); /* for IE */}
.li_1 a{
	font-size:1.5rem;
	
	color:#B0B0B0;}
.li_1 a:hover{
	text-decoration:none;}
.ul_2{
	color:#FFF;
	top:40px;
	background-color:#C9C9C9;
	border-radius:5px;
	padding:10px;
	visibility:hidden;
	opacity:0;
	filter: Alpha(Opacity=0); /* for IE */
	position:absolute;
	transition: all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-webkit-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out; 
	z-index:1002;	}
.li_1 ul li:first-child:before
	{
		content:' ';
		position:absolute;
		left:26px;
		top:-6px;
		border-left:6px solid transparent;
		border-right:6px solid transparent;
		border-bottom:6px solid #C9C9C9;}
/* 内容部分 */
.contentall{
	width:90%;
	margin:0 5%;
	margin-top:40px;}
.content_list{
	float:left;
	width:30%;
	line-height:37px;
	font-size:16px;
	font-family:"微软雅黑";
	margin-right:20px;
	}
.content_list li{
	border-bottom:1px dotted #999999;}
.content_banner{
	float:left;
	width:67%;
	
	position:relative;
	}

/* 图片轮播 */
.content{
	width:100%;
	height:100%;
	position:relative;
	overflow:hidden;
}
.content img{
	width:100%;}
.content > input,
.content > a{
	width:20%;
	line-height:22px;
	
	height:22px;
	position:absolute;
	bottom:0;
	cursor:pointer;
	font-size:14px;
	}
.content > input{
	opacity:0;
	z-index:1000;}
.content > a{
	z-index:10;
	background-color:#e23a6e;
	text-align:center;
	color:#fff;
	box-shadow:1px 1px 1px #00CC00;}
#st_1,#st_1 + a{
	left:0;}
#st_2,#st_2 + a{
	left:20%;}
#st_3,#st_3 + a{
	left:40%;}
#st_4,#st_4 + a{
	left:60%;}
#st_5,#st_5 + a{
	left:80%;}
.content input:checked + a,
.content input:checked:hover + a{
	background-color:#C06;}
.content input:checked + a:after{
	content:"";
	width:0;
	height:0;
	border:10px solid transparent;;
	border-bottom-color:#C06;
	position:absolute;
	bottom:100%;
	margin-left:-20px;}
.content input:hover + a{
	background-color:#C96;}	
.content a img{
	width:100%;
	position:absolute;
	left:0;
	bottom:0;
	opacity:0;
	filter: Alpha(Opacity=0);
	visibility:hidden;
	z-index:100;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-ms-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;}	
.content input:hover +  a img{
	opacity:1;
	filter: Alpha(Opacity=100);
	visibility:visible;}
.st-scroll,.st1{
	width:100%;
	height:100%;
	position:relative;}
.st-scroll{
	/*left:0;
	top:0;*/
	-webkit-transform:translate3d(0,0,0);
	-moz-transform:translate3d(0,0,0);
	-o-transform:translate3d(0,0,0);
	-ms-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0);
	-webkit-backface-visibility:hidden;
	-webkit-transition:all 0.6s ease-in-out;
	-moz-transition:all 0.6s ease-in-out;
	-o-transition:all 0.6s ease-in-out;
	-ms-transition:all 0.6s ease-in-out;
	transition:all 0.6s ease-in-out;}
.st1{
	background:fff;
	overflow:hidden;}
.content #st_1:checked ~ .st-scroll{
	transform:translateY(0);
	-webkit-transform:translateY(0);
	-moz-transform:translateY(0);
	-ms-transform:translateY(0);
	-o-transform:translateY(0);
	}
.content #st_2:checked ~ .st-scroll{
	transform:translateY(-100%);
	-webkit-transform:translateY(-100%);
	-moz-transform:translateY(-100%);
	-ms-transform:translateY(-100%);
	-o-transform:translateY(-100%);
	}
.content #st_3:checked ~ .st-scroll{
	transform:translateY(-200%);
	-webkit-transform:translateY(-200%);
	-moz-transform:translateY(-200%);
	-ms-transform:translateY(-200%);
	-o-transform:translateY(-200%);
	}
.content #st_4:checked ~ .st-scroll{
	transform:translateY(-300%);
	-webkit-transform:translateY(-300%);
	-moz-transform:translateY(-300%);
	-ms-transform:translateY(-300%);
	-o-transform:translateY(-300%);
	}
.content #st_5:checked ~ .st-scroll{
	transform:translateY(-400%);
	-webkit-transform:translateY(-400%);
	-moz-transform:translateY(-400%);
	-ms-transform:translateY(-400%);
	-o-transform:translateY(-400%);
	}

.st1 h2,.st1 h1{
	font-weight:bold;
	color:#63C;
	text-shadow:3px 3px 5px #000000;
	font-size:20px;
	line-height:50px;
	width:60%;
	position:absolute;	
	text-align:center;
	text-shadow:10px 10px 20px #000;}
.st1 h2{
	left:15%;
	top:20%;}
.st1 h1{
	left:10%;
	top:10%;}		


#st_1:checked ~ .st-scroll #st-panel-1 h2,
#st_2:checked ~ .st-scroll #st-panel-2 h2,
#st_3:checked ~ .st-scroll #st-panel-3 h2,
#st_4:checked ~ .st-scroll #st-panel-4 h2,
#st_5:checked ~ .st-scroll #st-panel-5 h2{
	-webkit-animation:movedown 1s ease-in-out 0.2s backwards;
	-o-animation:movedown 1s ease-in-out 0.2s backwards;
	-ms-animation:movedown 1s ease-in-out 0.2s backwards;
	-moz-animation:movedown 1s ease-in-out 0.2s backwards;
	animation:movedown 1s ease-in-out 0.2s backwards;}
	
@-webkit-keyframes movedown{
	0%{
		-webkit-transform:translateX(40px);
		opacity:0;}
	100%{
		-webkit-transform:translateX(0px);
		opacity:1;}	
	}
@-o-keyframes movedown{
	0%{
		-o-transform:translateX(40px);
		opacity:0;}
	100%{
		-o-transform:translateX(0px);
		opacity:1;}	
	}
@-ms-keyframes movedown{
	0%{
		-ms-transform:translateX(40px);
		opacity:0;}
	100%{
		-ms-transform:translateX(0px);
		opacity:1;}	
	}
@-moz-keyframes movedown{
	0%{
		-moz-transform:translateX(40px);
		opacity:0;}
	100%{
		-moz-transform:translateX(0px);
		opacity:1;}	
	}
@keyframes movedown{
	0%{
		transform:translateX(40px);
		opacity:0;}
	100%{
		transform:translateX(0px);
		opacity:1;}	
	}

#st_1:checked ~ .st-scroll #st-panel-1 h1,
#st_2:checked ~ .st-scroll #st-panel-2 h1,
#st_3:checked ~ .st-scroll #st-panel-3 h1,
#st_4:checked ~ .st-scroll #st-panel-4 h1,
#st_5:checked ~ .st-scroll #st-panel-5 h1{
	-webkit-animation:moveup 1s ease-in-out 0.2s backwards;
	-o-animation:moveup 1s ease-in-out 0.2s backwards;
	-ms-animation:moveup 1s ease-in-out 0.2s backwards;
	-moz-animation:moveup 1s ease-in-out 0.2s backwards;
	animation:moveup 1s ease-in-out 0.2s backwards;}
	
@-webkit-keyframes moveup{
	0%{
		-webkit-transform:translateX(-40px);
		opacity:0;}
	100%{
		-webkit-transform:translateX(0px);
		opacity:1;}	
	}
@-o-keyframes moveup{
	0%{
		-o-transform:translateX(-40px);
		opacity:0;}
	100%{
		-o-transform:translateX(0px);
		opacity:1;}	
	}
@-ms-keyframes moveup{
	0%{
		-ms-transform:translateX(-40px);
		opacity:0;}
	100%{
		-ms-transform:translateX(0px);
		opacity:1;}	
	}
@-moz-keyframes moveup{
	0%{
		-moz-transform:translateX(-40px);
		opacity:0;}
	100%{
		-moz-transform:translateX(0px);
		opacity:1;}	
	}
@keyframes moveup{
	0%{
		transform:translateX(-40px);
		opacity:0;}
	100%{
		transform:translateX(0px);
		opacity:1;}	
	}

/*右侧固定栏*/
.toolbar{
	z-index:10000;
	position:fixed;
	right:0;
	margin-left:-26px;
	bottom:10px;}
.item{
	display:block;
	width:52px;
	height:52px;
	background-image:url(../images/toolbar.png);
	background-repeat:no-repeat;
	margin-top:1px;
	position:relative;
	transition:all 0.5s;
	-webkit-transition:all 0.5s;
	-moz-transition:all 0.5s;
	-o-transition:all 0.5s;}
.weixin{
	background-position:0 -370px;}
.weixin:hover{background-position:0 -434px;}
.feedback{
	background-position:0 -124px;}
.feedback:hover{background-position:0 -185px;}
.app{
	background-position:0 0px;}
.app:hover{background-position:0 -61px;}
.top{
	background-position:0 -248px;}
.top:hover{background-position:0 -310px;}
.layer{
	display:block;
	width:166px;
	position:absolute;
	right:57px;
	bottom:0px;
	background-image:url(../images/toolbar_img.png);
	background-repeat:no-repeat;
	opacity:0;
	transform-origin:right bottom;
	transform:scale(0,0.01);
	box-shadow:5px 5px 10px #000000;
	transition:all 1s;
	-moz-transition:all 0.5s;
	-ms-transition:all 0.5s;
	-o-transition:all 0.5s;
	-webkit-transition:all 0.5s;}
.layer_weixin{
	height:202px;}
.layer_app{
	height:181px;
	background-position:0 -226px;}
.item:hover .layer{
	opacity:1;
	transform:scale(1);}
/*keyword*/
.keyword{
	width:30%;
	float:left;
	}
.keyword h1{
	font-size:24px;
	color:#30F;
	margin-bottom:10px;}
.keyword_list{
	border-bottom:2px solid #CCC;
	border-top:2px solid #CCC;}
.keyword_list a{
	color:#F00;
	display:inline-block;
	height:30px;
	line-height:30px;
	margin:2% 3%;
	font-size:20px;
	font-family:"微软雅黑";}
.keyword_list a:hover{
	text-decoration:none;}
/*中间大图*/	
.datu{
	position:relative;
	float:left;
	margin:20px 0 0 20px;
	overflow:hidden;
	width:54%;
	cursor:pointer;
	}
.datu:before{
	
	content:" ";
	position:absolute;
	right:0;
	bottom:0;
	border-style:solid;
	border-width:0;
	border-color:rgba(0,0,0,0.2) #fff;
	border-radius:10px 0 0 0;
	box-shadow:0 -2px 5px rgba(0,0,0,0.3);
	transition:all 0.4s ease-out;
	-webkit-transition:all 0.4s ease-out;
	-moz-transition:all 0.4s ease-out;
	-ms-transition:all 0.4s ease-out;
	-o-transition:all 0.4s ease-out;}
.datu:hover:before{
	border-right-width:60px;
	border-top-width:60px;
	}

.datu img{	
	width:100%;
		 }

/*今日推荐*/	
.Recommended_today{
	position:relative;
	float:left;
	width:148px;
	height:200px;
	background-color:#666;
	margin:20px 0 0 20px;
	}
.Recommended_today h1{
	color:#FFF;
	margin:136px 0 0 38px;}
.circular{
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-35px;
	margin-top:-55px;
	width:60px;
	height:60px;
	border-radius:50%;
	border:5px solid #FFF;}
/*指针*/
		.pointer li {
			position: absolute;
			top: 50%;
			left: 50%;
			transform-origin: left center;
			background: #fff;
		}
		.pointer li.hour {
			width: 20px;
			height: 3px;
			margin-top: -1px;
		}
		.pointer li.min {
			width: 25px;
			height: 2px;
			margin-top: -1px;
		}
		.pointer li.sec {
			width: 30px;
			height: 1px;
			margin-top: -1px;
		}
/*best_review*/
.best_review{
	float:left;
	width:30%;}
.best_review_content{
	
	padding:15px;
	border:#C9C9C9 1px solid;}
.best_review h1{
	color:#F00;
	font-size:24px;
	margin-bottom:15px;}
.best_review_content img{
	width:80%;}
.best_review_content h3{
	color:#3C6;
	margin:5px 0;}
.best_review_content p{
	line-height:16px;}
/*商品列表*/
.Listgoods{
	margin-top:38px;
	margin-left:2%;
	float:left;
	width:61%;
	}
.Listitem{
	width:100%;}
.Listitem li{
	position:relative;
	display:inline-block;
	
	margin-right:10px;;
	text-align:center;
	line-height:28px;}
.Listitem li img{}
.Listitem li h1{
	font-size:12px;
	text-align:center;
	}
.Listitem li h1 span{
	margin-top:5px;
	line-height:20px;
	height:20px;
	display:inline-block;
	width:40px;
	margin-left:5px;}
.Listitem li h1 #a{
	color:#FFF;
	background-color:#F3C;
	}
.Listitem li h1 #b{
	background-color:#6C6;
	color:#FFF;
	}
.Listitem li h2{
	color:#CACACA;}
.Listitem li h3{
	color:#39F;}
.mask{
	position:absolute;
	width:115px;
	height:115px;
	}
.mask:hover{
	background-color:rgba(255,255,255,0.3)}
/*选项卡*/
.tab{
	width:90%;
	margin:20px auto;}
.Tab_options{
	
	width:50%;
	margin-left:40%;}
.Tab_options li{
	display:inline-block;
	width:30%;
	text-align:center;
	background-color:#33F;
	line-height:30px;
	color:#FFF;
	font-size:24px;
	border-radius:5px;}
.Tab_content{
	width:100%;
	height:240px;
	border:5px #3333FF solid;
	border-radius:20px;
	position:relative;
	overflow:hidden;
}
.Tab_content .Tab_content_ul{
	width:300%;
	position:absolute;}
.Tab_content_ul_li{
	float:left;
	width: 33.3%;
	}	
.item_left{
	float:left;
	width:36%;
	margin:20px;
	border-right:2px solid #CACACA;
	}
.item_leftone{
	margin-right:8%;
	padding:10px 0;
	border-bottom:1px solid #CACACA;
	}
.item_leftone p{
	width:65%;
	float:left;}
.item_leftone img{
	float:left;}
.item_right{
	margin-top:20px;
	float:left;
	width:57%;}
.item_right ul{
	text-align:center;}

/*主页底部*/		
.footer{
	text-align:center;
	margin-top:100px;
	clear:both;
	height:150px;
	background-color:#999;
	line-height:34px;
	padding:50px 0;}
.footer i{
	font-style:normal;
	margin:0 5px;
	}
.footer span{
	margin: 0 10px;
}	
.footer a{
	color:#000;}
.footer a:hover{
	color:#F00;}
.web{
	margin-top:30px;}	
.web img{
	margin-left:18px;
	}	
